button:hover{
  background-color: rgb(176, 176, 243);
  cursor: pointer;
  

}

.buffer,.main{
  text-align: end;
}

.title{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* flex: 1 1 auto; */
  
}

.title span{
  font-size: 50px;
}

.mainBox{
  display: flex;
  justify-content: center;
  /* flex: 1 1 auto; */
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* flex: 1 1 auto; */

  
}

.footer span{
  font-size: 15px;
}

.mainBox{
  height: 770px;
  align-items: center;
}

.Calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 640px;
  border: 11px black solid;
  border-radius: 9px;
  padding: 15px;
  background-color: gray;
}


.display{
  border: 10px black solid;
  
  display: flex;
  height: 120px;
  width: 510px;
  margin-top: 10px;
  background-color: rgb(76, 145, 8);
  display: flex;
  flex-direction: column;

}

.display .buffer{
  height: 40px;
  border-bottom: 2px black solid;
}
.display .main{
  flex: 1 1 0;
}
.buttons{
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  flex:1 1 0;
  width: 510px;
  background-color: black;
  display: flex;
}


.buttons .sec1{
  flex:1 1 0;
  display: flex;
  flex-direction: column;

} 

.buttons .sec1 .top {
  /* margin-top: 5px; */
  height: 100px;
  margin-bottom: 10px;
  display: flex;


} 
.buttons .sec1 .top button {
  flex: 1 1 0;

  
} 



.buttons .sec2{
  width: 70px;
  display: flex;
  flex-direction: column;
   ;
   margin-left: 10px;

} 

.buttons .sec2 button{
flex:1 1 0;
/* margin-top: 5px; */

} 




.buttons .sec1 .bottom {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

} 

.buttons .sec1 .bottom div {

  height: 80px;
  display: flex;

} 

.buttons .sec1 .bottom div button{
  flex: 1 1 0;
  /* margin-left: 2px; */
} 

button{
  margin-bottom: 3px;
}


.Calculator .buttons .sec1 .bottom div{
  flex: 1 1 0;
}

button{
  font-size: 25px;
}

.display .main {
  font-size: 50px;
  
}
 .display .buffer{
  font-size: 20px;
  
}